*{
    margin: 0;
}
::-webkit-scrollbar{
        display: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
}
section{
    font-family: overpass;
    background-color: var(--DarkBlue);
    width: 80%;
    height: fit-content;
}
@font-face {
    font-family: overpass;
    src: url(/fonts/Overpass[wght].ttf);
}
:root{ 
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--LightGrey2: hsla(217, 12%, 63%, 0.169);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
}
body{
    background-color: var(--VeryDarkBlue);
}
.rate{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.first img{
    background-color: var(--LightGrey2);
    border-radius: 50%;
    padding: 6px;
    width: 3%;
}
h1{
    color: var(--White);
}
h2{
    color: var(--LightGrey);
}
h3,h4,h5,h6,.five{
    font-size: 18px;
    background-color: var(--LightGrey2);
    padding: 10px;
    color: var(--LightGrey);
    cursor: pointer;
    width: 10%;
}
h3:hover,h4:hover,h5:hover{
    background-color: hsla(217, 12%, 63%, 0.719);
    color: var(--White);
}
h6:hover{
    background-color: var(--LightGrey);
    color: var(--White);
}
.five:hover{
    background-color: var(--Orange);
    color: var(--White);
}
.first button{
    width: 100%;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    font-family: overpass;
}
.first button:hover{
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}
.lateoff{
    display: none;
}
@media only screen and (min-width:320px){
section{
    padding: 20px;
    border-radius: 14px;
    width: 80%;
}
.first img{
width: 6%;
padding: 10px;
}
h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px ;
}
h2{
    font-size: 12px;
    padding-bottom: 20px;
}
.rate{
    gap: 15px;
    position: relative;
    padding-bottom: 15px;
}
h3,h4,h5,h6,.five{
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    font-weight: 500;
}
.first button{
    padding: 10px;
    border-radius: 100vmax;
    font-size: 14px;
    font-weight: 600;
}
.lateon{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.late img{
width: 55%;
height: 90px;
}
.title{
    color: var(--Orange);
    background-color: var(--LightGrey2);
    border-radius: 100vmax;
    padding: 3px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.u-title{
    padding-top: 20px;
    font-size: 24px;
    padding-bottom: 10px;
    color: var(--White);
    font-weight:600;
}
.text{
    text-align: center;
    color: var(--LightGrey);
    font-size: 12px;
}
}
@media only screen and (min-width:375px){
    h2{
        font-size: 14px;
    }
    .rate{
        gap: 20px;
    }
    
.title{
    font-size: 16px;
}
.u-title{
    font-size: 26px;
}
.text{
    font-size: 14px;
}
}
@media only screen and (min-width:425px){
    h1{
        font-size: 29px;
    }
    h2{
        font-size: 16px;
    }
    h3,h4,h5,h6,.five{
        padding: 10px;
    }
    .rate{
        gap: 25px;
    }
    .first button{
        padding: 15px;
        font-size: 16px;
    }
    
.title{
    font-size: 18px;
}
.u-title{
    font-size: 28px;
}
.text{
    font-size: 16px;
}
}
@media only screen and (min-width:768px){
    section{
        width: 50%;
    }
    h1{
        font-size: 31px;
    }
    h2{
        font-size: 18px;
    }
    h3,h4,h5,h6,.five{
        padding: 12px;
        height: 25px;
    }
    
.title{
    font-size: 20px;
}
.u-title{
    font-size: 30px;
}
.text{
    font-size: 18px;
}
}
@media only screen and (min-width:992px){
    section{
        width: 40%;
    }
    .first img{
        width: 4%;
    }
    h1{
        font-size: 31px;
    }
    h2{
        font-size: 17px;
    }
    h3,h4,h5,h6,.five{
        padding: 12px;
        height: 25px;
    }
    
.title{
    font-size: 20px;
}
.u-title{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.text{
    font-size: 16.5px;
    width: 100%;
}
}
@media only screen and (min-width:1024px){
    .text{
        font-size: 17.4px;
    }
}
@media only screen and (min-width:1272px) and (min-height:645px){
    section{
        width: 33%;
    }
    h3,h4,h5,h6,.five{
        padding: 14px;
        padding-top: 18px;
        height: 30px;
    }
    .text{
        font-size: 17.6px;
    }
}
@media only screen and (min-width:1400px){
    section{
        width: 30%;
        padding: 30px;
    }
    h2{
        font-size: 17px;
    }
    h3,h4,h5,h6,.five{
        padding: 14px;
        padding-top: 18px;
        height: 30px;
    }
    .text{
        font-size: 17.6px;
    }
}
@media only screen and (min-width:1440px) and (min-height:800px){
    section{
        width: 30%;
        padding: 30px;
    }
    h2{
        font-size: 17px;
    }
    h3,h4,h5,h6,.five{
        padding: 14px;
        padding-top: 18px;
        height: 30px;
    }
    .text{
        font-size: 18px;
    }
    }
    @media only screen and (min-width: 1500px) {
        h2{
            font-size: 20px;
        }
        .text{
            font-size: 20px;
        }
    }
    @media only screen and (min-width: 1700px) {
        h2{
            font-size: 23px;
        }
        .title{
            font-size: 25px;
        }
        .text{
            font-size: 24px;
        }
        h3,h4,h5,h6,.five{
            font-size: 25px;
        }
        .first button{
            padding: 20px;
            font-size: 23px;
        }
    }
    @media only screen and (min-width: 1957px) {
        .first img{
            width: 6%;
        }
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 27px;
        }
        .title{
            font-size: 29px;
        }
        .text{
            font-size: 26px;
        }
        h3,h4,h5,h6,.five{
            font-size: 25px;
        }
        .first button{
            padding: 20px;
            font-size: 23px;
        }
    }
    @media only screen and (min-width: 2297px) {
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 30px;
        }
        .title{
            font-size: 35px;
        }
        .u-title{
            font-size: 49px;
        }
        .text{
            font-size: 30px;
        }
        .lateon img{
            width: 45%;
            height: 180px;
        }
    }
    @media only screen and (min-width: 2560px) {
        section{
            padding: 50px;
        }
        h1{
            font-size: 60px;
        }
        h2{
            font-size: 33px;
        }
        .rate{
            padding-top: 30px;
            padding-bottom: 50px;
        }
        h3,h4,h5,h6,.five{
            font-size: 40px;
            padding: 40px;
            height: 40px;
        }
        .first button{
            padding: 30px;
            font-size: 30px;
        }
        .text{
            font-size: 35px;
        }
    }
    